/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #0d0d0d;
}
h1 a{
    display: block;
    width: 180px;
    height: 50px;
    text-indent: -99999px;
    background: url("../img/logo.png");
}

h4 {
    font-size: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.back {
    background: #FF777A;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

    .back.no-icon{
        padding: 0;
    }
    .back.no-icon:after{display: none !important;}

.back2{
    background: #EDEDED;
    position:relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

.back2:after,.back:after{
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    right: 50%;
    margin-left: -25px;
    margin-right: -25px;
    top: -25px;
    content: "";
    background: #EDEDED url('../img/network.png') no-repeat center center / 50px 50px;
}

.back:after{
    background-color: #FF777A;
}

/******* Menu*******/
.menu{
    background: #fff;
    padding: 30px 0;
}
.nav{
    list-style: none;
    padding-top: 15px;
    float: right;
}
    .nav li {
        float: left;
        margin-left: 0;
    }
        .nav li a{
            text-decoration: none;
            color: #69D2E7;
            padding: 10px;
            font-family: 'Margarine', cursive;

        }
            .nav li a:hover{
                color: #fff;
                background: #69D2E7;
            }

/******* Video*******/
.colsvideo {
    padding: 20px 0;
    margin: 10px 0;
    color: #fff;
}
    .colsvideo h4 {
        padding: 10px 0;
    }


/*******Cols 3*******/

.cols3 {
    padding: 20px 0;
    position:relative;
}


.columnas3 {
    background: #fff;
}
    .columnas3 h4 {
        padding: 10px;

    }
        .columnas3 img{
            width: 280px;
            height: 200px;
            padding: 0 10px;
        }
            .columnas3 p {
                padding: 10px;
            }

/*******Cols2*******/
.cols2 {
    color: #fff;
}
.columnas2 {
    padding: 20px 0;

}
    .columnas2 img{
        width: 620px;
        height: 360px;
    }
        .columnas2 h4{
            padding:0 15px;
        }
            .columnas2 p {
                padding: 10px 15px;
            }

/*******Citas*******/
.cita {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}
    .cita p {
        text-align: right;
    }
        .cita blockquote {
            padding-top: 20px;
        }

.tildeizq {
    text-align: right;
    color: rgb(255, 119, 122);
}
.tildeder {
    text-align: left;
    color: rgb(255, 119, 122);
}
/*******FOOTER********/
.footer {
    text-align: center;
    padding: 20px 0;
    color: #FFF;
}
.backback {
    background: #2d2d2d;
}
/* fontawesome - icon font citas-frases */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 30px;
  text-align: center;
}


.estrella {
    width: 45%;
    text-align: center;
    padding: 0;
    margin: 0;
}
    .estrella i {
        text-decoration: none;
        font-size: 20px;
        color: gray;
        padding-bottom: 10px;
    }
.carrito {
    width: 45%;
    padding: 0;
    margin: 0;
    text-align: center;
}
    .carrito i {
        text-decoration: none;
        font-size: 20px;
        color: gray;
        padding-bottom: 10px;
    }
.seleccionado {
    background: #FF777A;
    color: #fff;
}
.result {
    position: absolute;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
